@charset "UTF-8";

/* 追加のスタイルが必要な場合はここに記述 */
* {
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	padding: 20px;
}

.containerf {
	text-align: center;
	max-width: 1300px;
	margin: 0 auto;
}

h1 {
	margin-bottom: 30px;
}


/* カレンダーのスタイルを調整 */
table {
	border-collapse: collapse;
	margin: 10px;
	width: 100%;
	border: solid 5px #ddd;
}

th,
td {
	width: calc(100%/7);
}

td {
	padding: 8px;

}

tbody {
	padding: 8px;
	width: 100%;
	border: solid 5px #ddd;
}

.link:hover {
	background-color: #f0f8ff;
}

.calendar-wrap {
	display: flex;
	justify-content: space-between;
}

.linktd {
	position: relative;
	height: 100%;
}

.link {
	text-decoration: none;
	color: black;
	display: inline-block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.image {
	object-fit: cover;
	width: 75%;
}

tbody tr {
	height: 100px;
}
.link p{
	padding: 10px;
	margin: 0px;
}

@media (max-width: 1000px) {
	.calendar-wrap {
		flex-flow: column;
	}
	.linktd{
		height: 70px;
	}
	.containerf {
		margin: 0;
	}


	table {
		margin: 0px;
	}
	.image {
		width: 70%;
		padding: 5px;
	}

  tbody	tr {
		height: 70px;
	}
	tbody p{
	margin :0px;
}
.link p{
	padding-bottom :0px ;
}
}