@charset "UTF-8";

/* 追加のスタイルが必要な場合はここに記述 */
* {
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	padding: 20px;
}

.container {
	text-align: center;
}

h1 {
	margin-bottom: 30px;
}


/* カレンダーのスタイルを調整 */
table {
	border-collapse: collapse;
	margin: 10px;
	width: 100%;
	border: solid 5px #ddd;
}

th,
td {
	width: calc(100%/7);
}

td {
	padding: 8px;

}

tbody {
	padding: 8px;
	width: 100%;
	border: solid 5px #ddd;
}

.link:hover {
	background-color: #f0f8ff;
}

.calendar-wrap {
	display: flex;
	justify-content: space-between;
}

.link {
	text-decoration: none;
	color: black;
}

@media (max-width: 1200px) {
	.calendar-wrap {
		flex-flow: column;
	}

	.container {
		margin: 0;
	}

	table {
		margin: 0px;
	}
}