<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>予約フォーム</title>
	<link th:href="@{/css/style.css}" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>
	<style>

	</style>
</head>

<body>
	<div class="container">
		<h1>予約</h1>
		<form name="areaSelect" method="post" th:action="@{/area}">
			<div class="input-group mb-3">
				<select class="form-select" name="areaSelect">
					<option value="1" th:field="${areaSelect.areaSelect}" th:text="#{option.local1}"></option>
					<option value="2" th:field="${areaSelect.areaSelect}" th:text="#{option.local2}"></option>
				</select>
				<button type="submit" class="btn btn-primary">表示</button>
			</div>
		</form>
		<div class="calendar-wrap">
			<table class="table table-bordered" th:each="now:${localDates}">
				<thead>
					<tr class="table-primary">
						<th colspan="7" th:text="${now.month}+'月'"></th>
					</tr>
					<tr class="table-secondary">
						<th class="table-danger">Sun</th>
						<th>Mon</th>
						<th>Tue</th>
						<th>Wed</th>
						<th>Thu</th>
						<th>Fri</th>
						<th class="table-info">Sat</th>
					</tr>
				</thead>
				<tbody >
					<!--月の日数の配列を取得-->
					<tr th:each="week:${now.weekDateList}" style="height: 110px;">
						<!--配列のforeach-->
						<span th:each="day:${week}">
							<!--繰り返し要素の値が０なら列を空欄-->
							<td th:if="${day == null}"></td>
							<!--繰り返し要素の値が０じゃなければ-->
							<span th:unless="${day == null}">
								<!--予定リストに繰り返し要素の値が存在した場合グレー-->
								<td th:if="${#lists.contains(scheduleList, day) || nowdate >= day}"
									th:text="${#temporals.day(day)}" class="bg-secondary">
								</td>
								<!--予定リストに繰り返し要素の値が存在しない場合リンクで予約可能-->
								<td class="link" th:unless="${#lists.contains(scheduleList, day) || nowdate >=day}"
									style="position: relative;">
									<span th:if="${weatherMap.get(areaSelect.areaSelect).containsKey(day)}">
										<a class="link"
											th:href="@{/form/__${#temporals.format(day,'yyyy-MM-dd')}__}">
											<p th:text="${#temporals.day(day)}" style="height: 25%;"></p>
											<img th:src="@{__${weatherMap.get(areaSelect.areaSelect).get(day)}__}"
												style="object-fit: cover; width: 75%;"></img>
										</a>
									</span>
									<span th:unless="${weatherMap.get(areaSelect.areaSelect).containsKey(day)}">
										<a class="link"
											th:href="@{/form/__${#temporals.format(day,'yyyy-MM-dd')}__}"
											th:text="${#temporals.day(day)}"></a>
									</span>
								</td>
							</span>
						</span>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>

</html>